<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://www.dita-ot.org/rng/plugin.rnc" type="application/relax-ng-compact-syntax"?>

<plugin id="com.github.damianoneill.json">
  <feature extension="dita.conductor.transtype.check" value="json" />
  <feature extension="dita.conductor.target.relative" file="antWrapper.xml"/>
</plugin>
